.DS_Store
build
coverage
display-dj
dist
node_modules
package-lock.json
src/main/utils/DisplayAdapter.ts
src/main/utils/SoundUtils.ts
.env

# Standard junk files
*.swp
*.swo
*.pyc
*.pyo
*.class
*.o
*.obj
Thumbs.db
desktop.ini
*.log
.terraform
.ipynb_checkpoints
.history
bin
obj
_build
logs
log
tmp
temp
.serverless
.expo
.expo-shared
.docusaurus
.angular
.svelte-kit
Pods
DerivedData
